<app-load *ngIf="loading"></app-load>

<form class="overflow-x-scroll">
  <div class="px-2 py-3">
    <div class="grid gap-2 mb-6">
      <div>
        <label class="label-form">Caja</label>
        <nz-select
          class="w-full p-1 bg-gray-200 rounded-lg border-gray-300 border"
          name="item.box_id"
          nzShowSearch
          nzAllowClear
          nzPlaceHolder="Selecciona un Producto"
          [(ngModel)]="item.box_id"
        >
          <nz-option
            *ngFor="let box of boxes"
            [nzLabel]="box.name"
            [nzValue]="box.id"
            nzValue="jack"
          ></nz-option>
        </nz-select>
        <span class="error" *ngIf="errors">{{ errors.box_id }}</span>
      </div>

      <div>
        <label class="label-form"
          >Detalle<i class="fa-brands fa-medapps text-red-600 font-bold"></i
        ></label>
        <div class="relative">
          <div class="input-icon">
            <i class="fa-solid fa-box text-gray-500"></i>
          </div>
          <input
            name="detail"
            [(ngModel)]="item.detail"
            type="text"
            autocomplete="off"
            class="input"
          />
        </div>
        <span class="error" *ngIf="errors">{{ errors.detail }}</span>
      </div>

      <div>
        <label class="label-form">S/. Pago</label>
        <div class="relative">
          <div class="input-icon">
            <i class="fa-solid fa-box text-gray-500"></i>
          </div>
          <input
            name="amount"
            [(ngModel)]="item.amount"
            type="number"
            step="any"
            autocomplete="off"
            class="input"
          />
        </div>
        <span class="error" *ngIf="errors">{{ errors.amount }}</span>
      </div>

      <div>
        <label class="label-form">Fecha Pago</label>
        <div class="relative">
          <div class="input-icon">
            <i class="fa-solid fa-calendar-days text-gray-500"></i>
          </div>
          <input
            name="date_payment"
            [(ngModel)]="item.date_payment"
            type="date"
            autocomplete="off"
            class="input"
          />
        </div>
        <span class="error" *ngIf="errors">{{ errors.date_payment }}</span>
      </div>
    </div>

    <button
      (click)="save()"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center"
    >
      <i class="fa-solid fa-floppy-disk"></i>
      REGISTRAR
    </button>
  </div>
</form>
