@if (loading) {
<app-load>Cargando ...</app-load>
}

<app-title>Registrar Venta</app-title>

<form class="overflow-x-scroll">
  <div class="px-2 py-3">
    <div class="grid gap-2 mb-6 md:grid-cols-2">
      <div>
        <label class="label-form"
          >KM <i class="fa-brands fa-medapps text-red-600 font-bold"></i
        ></label>
        <div class="relative">
          <div class="input-icon">
            <i class="fa-solid fa-id-card-clip text-gray-500"></i>
          </div>
          <input
            name="km"
            [(ngModel)]="item.km"
            type="text"
            autocomplete="off"
            class="input"
          />
        </div>
        <span class="error" *ngIf="errors">{{ errors.km }}</span>
      </div>

      <div>
        <label class="label-form">Fecha Ingreso</label>
        <div class="relative">
          <div class="input-icon">
            <i class="fa-solid fa-signature text-gray-500"></i>
          </div>
          <input
            name="entry_date"
            [(ngModel)]="item.entry_date"
            type="date"
            autocomplete="off"
            class="input"
          />
        </div>
        <span class="error" *ngIf="errors">{{ errors.entry_date }}</span>
      </div>

      <div>
        <label class="label-form">Vehículo</label>
        <nz-select
          class="w-full p-1 bg-gray-200 rounded-lg border-gray-300 border"
          name="item.car_id"
          nzShowSearch
          nzAllowClear
          nzPlaceHolder="Selecciona un Vehículo"
          [(ngModel)]="item.car_id"
        >
          <nz-option
            *ngFor="let car of data.cars"
            [nzLabel]="
              car.plate +
              ' - ' +
              car.example.name +
              ' - ' +
              car.color.name +
              ' - ' +
              car.year.name +
              ' / ' +
              car.client.document +
              ' - ' +
              car.client.name +
              ' ' +
              car.client.surname +
              ' ' +
              car.client.last_name
            "
            [nzValue]="car.id"
          ></nz-option>
        </nz-select>

        <span class="error" *ngIf="errors">{{ errors.car_id }}</span>
      </div>

      <div>
        <label class="label-form"
          >Conductor <i class="fa-brands fa-medapps text-red-600 font-bold"></i
        ></label>
        <nz-select
          class="w-full p-1 bg-gray-200 rounded-lg border-gray-300 border"
          name="item.client_id"
          nzShowSearch
          nzAllowClear
          nzPlaceHolder="Selecciona un Conductor"
          [(ngModel)]="item.client_id"
        >
          <nz-option
            *ngFor="let client of data.clients"
            [nzLabel]="
              client.document +
              ' - ' +
              client.name +
              ' ' +
              client.surname +
              ' ' +
              client.last_name
            "
            [nzValue]="client.id"
            nzValue="jack"
          ></nz-option>
        </nz-select>

        <span class="error" *ngIf="errors">{{ errors.client_id }}</span>
      </div>
    </div>

    <div class="flex">
      <button (click)="save()" class="btn-save">
        <i class="fa-solid fa-floppy-disk"></i>
      </button>

      <a (click)="service.goPage('sale/index')" class="btn-list">
        <i class="fa-solid fa-table"></i>
      </a>
    </div>
  </div>
</form>
