<aside
  id="logo-sidebar"
  class="fixed top-0 left-0 z-40 w-64 h-screen pt-20 transition-transform -translate-x-full bg-white border-r border-gray-200 sm:translate-x-0 dark:bg-gray-800 dark:border-gray-700"
  aria-label="Sidebar"
>
  <div class="h-full px-3 pb-4 overflow-y-auto bg-white dark:bg-gray-800">
    <ul class="space-y-2">
      <li *setPermission="['box.index']">
        <a onclick="return false;" (click)="goPage('box/index')" class="menu-a">
          <i class="fa-solid fa-users text-xl ml-1"></i>
          <span
            class="flex-1 ml-2 text-left whitespace-nowrap font-bold text-base"
            >Cajas</span
          >
        </a>
      </li>
      <li *setPermission="['product.index']">
        <a
          onclick="return false;"
          (click)="goPage('product/index')"
          class="menu-a"
        >
          <i class="fa-solid fa-users text-xl ml-1"></i>
          <span
            class="flex-1 ml-2 text-left whitespace-nowrap font-bold text-base"
            >Productos</span
          >
        </a>
      </li>
      <li *setPermission="['service.index']">
        <a
          onclick="return false;"
          (click)="goPage('service/index')"
          class="menu-a"
        >
          <i class="fa-solid fa-users text-xl ml-1"></i>
          <span
            class="flex-1 ml-2 text-left whitespace-nowrap font-bold text-base"
            >Servicios</span
          >
        </a>
      </li>
      <li *setPermission="['company.edit']">
        <a
          onclick="return false;"
          (click)="goPage('company/edit')"
          class="menu-a"
        >
          <i class="fa-solid fa-users text-xl ml-1"></i>
          <span
            class="flex-1 ml-2 text-left whitespace-nowrap font-bold text-base"
            >Mecánica</span
          >
        </a>
      </li>
      <li *setPermission="['user.index']">
        <a
          onclick="return false;"
          (click)="goPage('user/index')"
          class="menu-a"
        >
          <i class="fa-solid fa-users text-xl ml-1"></i>
          <span
            class="flex-1 ml-2 text-left whitespace-nowrap font-bold text-base"
            >Administradores</span
          >
        </a>
      </li>

      <li *setPermission="['year.index']">
        <button
          type="button"
          class="flex items-center w-full p-2 text-base text-gray-900 transition duration-75 rounded-lg group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"
          aria-controls="dropdown-setting"
          data-collapse-toggle="dropdown-setting"
        >
          <i class="fa-solid fa-screwdriver-wrench icon"></i>
          <span
            class="flex-1 ml-2 text-left whitespace-nowrap font-bold text-base"
            >Configuración</span
          >
          <i class="fa-solid fa-chevron-down font-bold text-gray-900"></i>
        </button>
        <ul id="dropdown-setting" class="hidden py-2 space-y-2 ml-2">
          <span class="flex-1 ml-4 text-left"> General </span>
          <li *setPermission="['brand.index']">
            <a
              onclick="return false;"
              (click)="goPage('setting/brand/index')"
              class="menu-a"
            >
              <i class="fa-solid fa-gear"></i>
              <span
                class="flex-1 ml-2 text-left whitespace-nowrap font-bold text-base"
                >Marca</span
              >
            </a>
          </li>
          <li *setPermission="['color.index']">
            <a
              onclick="return false;"
              (click)="goPage('setting/color/index')"
              class="menu-a"
            >
              <i class="fa-solid fa-gear"></i>
              <span
                class="flex-1 ml-2 text-left whitespace-nowrap font-bold text-base"
                >Color</span
              >
            </a>
          </li>
          <li *setPermission="['example.index']">
            <a
              onclick="return false;"
              (click)="goPage('setting/example/index')"
              class="menu-a"
            >
              <i class="fa-solid fa-gear"></i>
              <span
                class="flex-1 ml-2 text-left whitespace-nowrap font-bold text-base"
                >Modelo</span
              >
            </a>
          </li>
          <li *setPermission="['year.index']">
            <a
              onclick="return false;"
              (click)="goPage('setting/year/index')"
              class="menu-a"
            >
              <i class="fa-solid fa-gear"></i>
              <span
                class="flex-1 ml-2 text-left whitespace-nowrap font-bold text-base"
                >Año</span
              >
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</aside>
