<app-load *ngIf="loading"></app-load>

<form class="overflow-x-scroll">
  <div class="px-2 py-3">
    <div class="grid gap-2 mb-6">
      <div>
        <label class="label-form">Cantidad</label>
        <div class="relative">
          <div class="input-icon">
            <i class="fa-solid fa-box text-gray-500"></i>
          </div>
          <input
            name="amount_item"
            [(ngModel)]="item.amount_item"
            type="number"
            autocomplete="off"
            class="input"
          />
        </div>
        <span class="error" *ngIf="errors">{{ errors.amount_item }}</span>
      </div>

      <div>
        <label class="label-form">Descripción</label>
        <div class="relative">
          <div class="input-icon">
            <i class="fa-solid fa-box text-gray-500"></i>
          </div>
          <input
            name="description_item"
            [(ngModel)]="item.description_item"
            type="text"
            autocomplete="off"
            class="input"
          />
        </div>
        <span class="error" *ngIf="errors">{{ errors.description_item }}</span>
      </div>

      <div>
        <label class="label-form">Marca</label>
        <div class="relative">
          <div class="input-icon">
            <i class="fa-solid fa-box text-gray-500"></i>
          </div>
          <input
            name="brand_item"
            [(ngModel)]="item.brand_item"
            type="text"
            autocomplete="off"
            class="input"
          />
        </div>
        <span class="error" *ngIf="errors">{{ errors.brand_item }}</span>
      </div>

      <div>
        <label class="label-form">S/. P.Venta Unitario</label>
        <div class="relative">
          <div class="input-icon">
            <i class="fa-solid fa-box text-gray-500"></i>
          </div>
          <input
            name="price_item"
            [(ngModel)]="item.price_item"
            type="number"
            step="any"
            autocomplete="off"
            class="input"
          />
        </div>
        <span class="error" *ngIf="errors">{{ errors.price_item }}</span>
      </div>
    </div>

    <button
      (click)="save()"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center"
    >
      <i class="fa-solid fa-floppy-disk"></i>
      REGISTRAR
    </button>
  </div>
</form>
