@if (loading) {
<app-load></app-load>
}

<app-title>Lista de Cajas</app-title>

<app-search (data)="getData($event)">
  <a
    *setPermission="['box.create']"
    (click)="service.goPage('box/create')"
    class="inline-flex items-center py-2.5 px-3 ml-2 text-sm font-medium text-white bg-blue-700 rounded-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
  >
    <i class="fa-solid fa-circle-plus"></i>
  </a>
</app-search>

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead
      class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
    >
      <tr>
        <th scope="col" class="px-6 py-3">ID</th>
        <th scope="col" class="px-6 py-3">Foto</th>
        <th scope="col" class="px-6 py-3">Caja</th>
        <th scope="col" class="px-6 py-3">
          <span class="sr-only">Edit</span>
        </th>
      </tr>
    </thead>
    <tbody>
      @for (item of data; track item.id ) {
      <tr class="bg-white border-b hover:bg-gray-50 text-gray-700">
        <td class="px-6 py-4">
          {{ item.id }}
        </td>
        <td class="px-6 py-4">
          <p-image
            [src]="
              item.storage
                ? service.apiUrl + '/' + item.storage
                : 'assets/img/logo.png'
            "
            alt="Perfil"
            width="30"
            [preview]="true"
          ></p-image>
        </td>
        <td class="px-6 py-4 capitalize">
          {{ item.name }}
        </td>
        <td class="px-6 py-4 text-right flex">
          <a
            *setPermission="['box.show']"
            (click)="service.goPage('box/show/' + item.id)"
            class="ml-2 bg-blue-700 text-white px-2 py-1 rounded-full"
          >
            <i class="fa-solid fa-book-open"></i>
          </a>
          <a
            *setPermission="['box.edit']"
            (click)="service.goPage('box/edit/' + item.id)"
            class="ml-2 bg-blue-700 text-white px-2 py-1 rounded-full"
          >
            <i class="fa-solid fa-marker"></i>
          </a>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>

<!-- Pagination -->
@if (meta) {
<nav aria-label="Page navigation example">
  <ul class="flex items-center -space-x-px h-10 text-base mt-3">
    <li>
      <a
        (click)="changePage(-1)"
        href="#"
        onclick="return false"
        class="flex items-center justify-center px-4 h-10 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
      >
        <svg
          class="w-3 h-3"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 6 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M5 1 1 5l4 4"
          /></svg
        ><span>Anterior</span>
      </a>
    </li>
    <li>
      <a
        href="#"
        class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
      >
        Página {{ meta.current_page }}</a
      >
    </li>
    <li>
      <a
        (click)="changePage(1)"
        href="#"
        onclick="return false"
        class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
      >
        <span>Siguiente</span>
        <svg
          class="w-3 h-3"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 6 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m1 9 4-4-4-4"
          />
        </svg>
      </a>
    </li>
  </ul>
  <span>Total de Resultados: {{ meta.total }}</span>
</nav>
}
