<app-load *ngIf="loading"></app-load>

<form class="overflow-x-scroll">
  <div class="px-2 py-3">
    <div class="grid gap-2 mb-6">
      <div>
        <label class="label-form">Producto</label>
        <nz-select
          class="w-full p-1 bg-gray-200 rounded-lg border-gray-300 border"
          name="item.product_id"
          nzShowSearch
          nzAllowClear
          nzPlaceHolder="Selecciona un Producto"
          [(ngModel)]="item.product_id"
          (ngModelChange)="select($event)"
        >
          <nz-option
            *ngFor="let product of products"
            [nzLabel]="product.name"
            [nzValue]="product.id"
            nzValue="jack"
          ></nz-option>
        </nz-select>
        <span class="error" *ngIf="errors">{{ errors.product_id }}</span>
      </div>

      <div>
        <label class="label-form">S/. P.Compra Unitario</label>
        <div class="relative">
          <div class="input-icon">
            <i class="fa-solid fa-box text-gray-500"></i>
          </div>
          <input
            name="price_buy"
            [(ngModel)]="item.price_buy"
            type="number"
            step="any"
            autocomplete="off"
            class="input"
          />
        </div>
        <span class="error" *ngIf="errors">{{ errors.price_buy }}</span>
      </div>

      <div>
        <label class="label-form">S/. P.Venta Unitario</label>
        <div class="relative">
          <div class="input-icon">
            <i class="fa-solid fa-box text-gray-500"></i>
          </div>
          <input
            name="price_sell"
            [(ngModel)]="item.price_sell"
            type="number"
            step="any"
            autocomplete="off"
            class="input"
          />
        </div>
        <span class="error" *ngIf="errors">{{ errors.price_sell }}</span>
      </div>

      <div>
        <label class="label-form">Cantidad</label>
        <div class="relative">
          <div class="input-icon">
            <i class="fa-solid fa-box text-gray-500"></i>
          </div>
          <input
            name="quantity"
            [(ngModel)]="item.quantity"
            type="number"
            autocomplete="off"
            class="input"
          />
        </div>
        <span class="error" *ngIf="errors">{{ errors.quantity }}</span>
      </div>

      <div>
        <label class="label-form">Fecha Venta</label>
        <div class="relative">
          <div class="input-icon">
            <i class="fa-solid fa-calendar-days text-gray-500"></i>
          </div>
          <input
            name="date_sale"
            [(ngModel)]="item.date_sale"
            type="date"
            autocomplete="off"
            class="input"
          />
        </div>
        <span class="error" *ngIf="errors">{{ errors.date_sale }}</span>
      </div>
    </div>

    <button
      (click)="save()"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center"
    >
      <i class="fa-solid fa-floppy-disk"></i>
      REGISTRAR
    </button>
  </div>
</form>
